<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-1">
                
                <h1 id="h1" class="mt-5" style=" text-align: center;" >User Authentication</h1>
                <hr>
                <p id="p" class="lead mb-5" style="font-weight: 400;">Our website provides robust user authentication features to ensure the security and privacy of our users' accounts. With our authentication system, users can create accounts, log in securely, and manage their profiles with ease.</p>
                <h3 id="h1" style="font-weight: 700; font-size: xx-large;" class="mb-3">Note Making</h3>
                <hr>
                <p id="p" class="mb-5">Our note-making feature allows users to create, edit, and delete notes effortlessly. With a user-friendly interface powered by Bootstrap, organizing and accessing notes has never been simpler. Users can categorize notes, set reminders, and customize their notes according to their preferences.</p>

                <h1 id="h1" class="mt-5" style=" text-align: center;" >Responsive Design</h1>
                <hr>
                <p id="p" class="lead mb-5" style="font-weight: 400;">We prioritize responsiveness in our design to ensure that our website looks great and functions well on any device. Whether users access our platform from a desktop, tablet, or smartphone, they can enjoy the same seamless experience and access all features without compromise.</p>
                <h3 id="h1" style="font-weight: 700; font-size: xx-large;" class="mb-3">Scalability and Performance</h3>
                <hr>
                <p id="p" class="mb-5">Built on top of Node.js and MongoDB, our website is designed to scale with the growing needs of our user base. MongoDB's flexible and scalable database solution coupled with Node.js' event-driven architecture ensures optimal performance even under heavy loads.</p>
                
                
            </div>
        </div>
    </div>
</body>
</html>