<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white" id="mt">User Authentication and Notes App</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4" id="mp">
            My Website built with Node.js, Express, EJS, and MongoDB enables user authentication and note management. Users register, log in securely, and perform CRUD operations on their notes. MongoDB stores user data and notes. EJS renders dynamic content.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button id="re" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"><a href="/register">Register</a></button>
          <button id="lo" type="button" class="btn btn-outline-light btn-lg px-4"><a href="/login">Login</a></button>
        </div>
      </div>
    </div>
  </div>